<%- include('head', { title: 'Authentication Example' }) -%>

  Welcome to the

  <strong>
    <%= title %>
  </strong>

  example. Please

  <a href="/login">login</a>

  to continue.

  <!-- register -->

  <a href="/register">register</a>

  to continue.

  <%- include('foot') -%>